group Server
    source https://api.nuget.org/v3/index.json
    framework: netcoreapp3.0
    storage: none

    nuget Giraffe
    nuget SQLProvider
    nuget Npgsql 3.2.5

group npgsql
    # required for sql typeprovider
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    nuget Npgsql 3.2.5

group Tests
    source https://api.nuget.org/v3/index.json
    framework: netcoreapp3.0
    storage: none

    nuget Microsoft.NET.Test.Sdk
    nuget Microsoft.AspNetCore.TestHost
    nuget xunit
    nuget xunit.runner.visualstudio

group Client
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget Fable.Core ~> 3
    nuget Fable.Elmish ~> 3
    nuget Fable.Elmish.Debugger ~> 3
    nuget Fable.Elmish.HMR ~> 4
    nuget Fable.Elmish.React ~> 3
    nuget Fable.FontAwesome.Free ~> 2
    nuget Fable.React ~> 5
    nuget Fable.Validation
    nuget Fulma ~> 2
    nuget Fulma.Elmish
    nuget Fulma.Extensions.Wikiki.Calendar
    nuget Thoth.Json
    nuget Thoth.Fetch 2.0.0-beta-002

    source https://api.nuget.org/v3/index.json

group Build
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget FSharp.Core
    nuget Fake.Core.ReleaseNotes
    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem